@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

:root{
    --theme-blue: #0051aa;
    --dark-bg: #383b46;
    --text-color: #464646;
    --gray-text: #909298;
    --body-bg: #f5f5f5;
    --heading-color: #555;
}

body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    text-align: left;
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-bg)
}

.main-content-wrapper{
    min-height: calc(100vh - 145px)
}
.ml-auto{
    margin-left: auto;
}

.navbar-dark{
    background-color: var(--theme-blue) !important;
}
.topbar{
    color: #5d5d5d;
    font-size: 0.9rem;
}
.theme-dark{
    background-color: var(--dark-bg) !important;
    color: var(--gray-text);
}

.btn-primary{
    background-color: var(--theme-blue) !important;
    border: 1px solid var(--theme-blue) !important;
}


.content-pane .card{
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #474747;
    cursor: pointer;
    transition: all 0.2s ease;
}
 

.content-pane .card h4{
    color: var(--text-color);
}
.products-page .card h4{
    color: #474747;
}
.content-pane .card:hover h4{
     color: var(--theme-blue)
}

.f-14{
    font-size: 14px;
}
.f-15{
    font-size: 0.95rem;
}
.opacity-50 {
    opacity: .50!important;
}
.opacity-25 {
    opacity: .25!important;
}
.opacity-75 {
    opacity: .75!important;
}
.lh-xsm{
    line-height: 0.2rem !important;
}

.previous-artcle img{
    object-fit: cover;
    width: 65px;
    height: 65px;
}
.theme-widget .list-group{
     box-shadow: none;
}
.theme-widget .list-group h6{
    color: var(--heading-color);
    font-size: 0.97rem;
}
.theme-widget .list-group-item{
     border: 1px solid #73737321 !important;
     border-bottom: 0 !important;
     padding-bottom: 8px !important;
}
.theme-widget .list-group-item:last-child{
     border-bottom: 1px solid #73737321 !important;
}
.theme-widget a.list-group-item:hover{
    background-color: #fff;
}
.theme-widget a.list-group-item:hover h6{
    color: var(--theme-blue);
}
.theme-widget a.list-group-item:hover .opacity-50{
    opacity: 0.9 !important
}
 


 


.content-pane .card:hover {
    box-shadow: 0 0 25px 0 rgba(146, 146, 146, 0.551);
}

 

.theme-shad{
    box-shadow: 0 0 10px 0 #e5e5e5d9;
    border: 0 !important
    
}
.bg-light-gray{
    background-color: #d6ebff;
}

footer a{
    color: #fff;
    font-style: italic;
}

.main-navbar-wrapper{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.main-navbar li .nav-link{
    padding: 1rem 1rem !important;
}

.article-excert{
    height: 80px;
}

.fw-400{font-weight: 400}
.fw-500{font-weight: 500}
.f-18{font-size: 18px;}


.social-share-list{
    width: auto;
    text-align: center;
    font-size: 30px;
}
.social-share-list .facebook{
    color: #3b5998;
}
.social-share-list .linkedin{
    color: #007cac;
}
.social-share-list .youtube{
    color: #d43935;  
}
.social-share-list .twitter{
    color: #00a7e6;
}
.social-share-list .pinterest{
    color: #b7413e;
}



.related-articles .list-group-item img{
    width: 65px;
    height: 65px;
    object-fit: cover;
}
.related-articles .list-group-item p{
   height: 40px;
   overflow: hidden;
}
.related-articles .list-group-item{
   border-radius: 4px;
   margin-bottom: 20px;
}


.feedback-form{
    border: 1px solid #73737321 !important;
    padding: 1rem
}
